[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
sounddevice = "*"
librosa = "==0.4.2"
keras = "*"
tensorflow = "==1.15.2"
h5py = "*"
simple-salesforce = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
